<div class="board-bkgd">
  <table class="chess_board" cellpadding="0" cellspacing="0">
    <tr>
        <td class="right-border"><p>8</p></td>
        <td id="brd0,0" ng-click="ctrl.startMove($event)"></td>
        <td id="brd0,1" ng-click="ctrl.startMove($event)"></td>
        <td id="brd0,2" ng-click="ctrl.startMove($event)"></td>
        <td id="brd0,3" ng-click="ctrl.startMove($event)"></td>
        <td id="brd0,4" ng-click="ctrl.startMove($event)"></td>
        <td id="brd0,5" ng-click="ctrl.startMove($event)"></td>
        <td id="brd0,6" ng-click="ctrl.startMove($event)"></td>
        <td id="brd0,7" ng-click="ctrl.startMove($event)"></td>
    </tr>
    <tr>
        <td class="right-border"><p>7</p></td>
        <td id="brd1,0" ng-click="ctrl.startMove($event)"></td>
        <td id="brd1,1" ng-click="ctrl.startMove($event)"></td>
        <td id="brd1,2" ng-click="ctrl.startMove($event)"></td>
        <td id="brd1,3" ng-click="ctrl.startMove($event)"></td>
        <td id="brd1,4" ng-click="ctrl.startMove($event)"></td>
        <td id="brd1,5" ng-click="ctrl.startMove($event)"></td>
        <td id="brd1,6" ng-click="ctrl.startMove($event)"></td>
        <td id="brd1,7" ng-click="ctrl.startMove($event)"></td>
    </tr>
    <tr>
        <td class="right-border"><p>6</p></td>
        <td id="brd2,0" ng-click="ctrl.startMove($event)"></td>
        <td id="brd2,1" ng-click="ctrl.startMove($event)"></td>
        <td id="brd2,2" ng-click="ctrl.startMove($event)"></td>
        <td id="brd2,3" ng-click="ctrl.startMove($event)"></td>
        <td id="brd2,4" ng-click="ctrl.startMove($event)"></td>
        <td id="brd2,5" ng-click="ctrl.startMove($event)"></td>
        <td id="brd2,6" ng-click="ctrl.startMove($event)"></td>
        <td id="brd2,7" ng-click="ctrl.startMove($event)"></td>
    </tr>
    <tr>
        <td class="right-border"><p>5</p></td>
        <td id="brd3,0" ng-click="ctrl.startMove($event)"></td>
        <td id="brd3,1" ng-click="ctrl.startMove($event)"></td>
        <td id="brd3,2" ng-click="ctrl.startMove($event)"></td>
        <td id="brd3,3" ng-click="ctrl.startMove($event)"></td>
        <td id="brd3,4" ng-click="ctrl.startMove($event)"></td>
        <td id="brd3,5" ng-click="ctrl.startMove($event)"></td>
        <td id="brd3,6" ng-click="ctrl.startMove($event)"></td>
        <td id="brd3,7" ng-click="ctrl.startMove($event)"></td>
    </tr>
    <tr>
        <td class="right-border"><p>4</p></td>
        <td id="brd4,0" ng-click="ctrl.startMove($event)"></td>
        <td id="brd4,1" ng-click="ctrl.startMove($event)"></td>
        <td id="brd4,2" ng-click="ctrl.startMove($event)"></td>
        <td id="brd4,3" ng-click="ctrl.startMove($event)"></td>
        <td id="brd4,4" ng-click="ctrl.startMove($event)"></td>
        <td id="brd4,5" ng-click="ctrl.startMove($event)"></td>
        <td id="brd4,6" ng-click="ctrl.startMove($event)"></td>
        <td id="brd4,7" ng-click="ctrl.startMove($event)"></td>
    </tr>
    <tr>
        <td class="right-border"><p>3</p></td>
        <td id="brd5,0" ng-click="ctrl.startMove($event)"></td>
        <td id="brd5,1" ng-click="ctrl.startMove($event)"></td>
        <td id="brd5,2" ng-click="ctrl.startMove($event)"></td>
        <td id="brd5,3" ng-click="ctrl.startMove($event)"></td>
        <td id="brd5,4" ng-click="ctrl.startMove($event)"></td>
        <td id="brd5,5" ng-click="ctrl.startMove($event)"></td>
        <td id="brd5,6" ng-click="ctrl.startMove($event)"></td>
        <td id="brd5,7" ng-click="ctrl.startMove($event)"></td>
    </tr>
    <tr>
        <td class="right-border"><p>2</p></td>
        <td id="brd6,0" ng-click="ctrl.startMove($event)"></td>
        <td id="brd6,1" ng-click="ctrl.startMove($event)"></td>
        <td id="brd6,2" ng-click="ctrl.startMove($event)"></td>
        <td id="brd6,3" ng-click="ctrl.startMove($event)"></td>
        <td id="brd6,4" ng-click="ctrl.startMove($event)"></td>
        <td id="brd6,5" ng-click="ctrl.startMove($event)"></td>
        <td id="brd6,6" ng-click="ctrl.startMove($event)"></td>
        <td id="brd6,7" ng-click="ctrl.startMove($event)"></td>
    </tr>
    <tr>
        <td class="right-border"><p>1</p></td>
        <td id="brd7,0" ng-click="ctrl.startMove($event)"></td>
        <td id="brd7,1" ng-click="ctrl.startMove($event)"></td>
        <td id="brd7,2" ng-click="ctrl.startMove($event)"></td>
        <td id="brd7,3" ng-click="ctrl.startMove($event)"></td>
        <td id="brd7,4" ng-click="ctrl.startMove($event)"></td>
        <td id="brd7,5" ng-click="ctrl.startMove($event)"></td>
        <td id="brd7,6" ng-click="ctrl.startMove($event)"></td>
        <td id="brd7,7" ng-click="ctrl.startMove($event)"></td>
    </tr>
    <tr>
        <td></td>
        <td class="top-border"><p>A</p></td>
        <td class="top-border"><p>B</p></td>
        <td class="top-border"><p>C</p></td>
        <td class="top-border"><p>D</p></td>
        <td class="top-border"><p>E</p></td>
        <td class="top-border"><p>F</p></td>
        <td class="top-border"><p>G</p></td>
        <td class="top-border"><p>H</p></td>
    </tr>
  </table>
</div>
