<div class="board-bkgd">
  <table class="chess_board" cellpadding="0" cellspacing="0">
    <tr>
        <td class="right-border"><p>8</p></td>
        <td id="brd0,0"><a href="#" class="rook black">&#9820;</a></td>
        <td id="brd0,1"><a href="#" class="night black">&#9822;</a></td>
        <td id="brd0,2"><a href="#" class="bishop black">&#9821;</a></td>
        <td id="brd0,3"><a href="#" class="king black">&#9819;</a></td>
        <td id="brd0,4"><a href="#" class="queen black">&#9818;</a></td>
        <td id="brd0,5"><a href="#" class="bishop black">&#9821;</a></td>
        <td id="brd0,6"><a href="#" class="night black">&#9822;</a></td>
        <td id="brd0,7"><a href="#" class="rook black">&#9820;</a></td>
    </tr>
    <tr>
        <td class="right-border"><p>7</p></td>
        <td id="brd1,0"><a href="#" class="pawn black">&#9823;</a></td>
        <td id="brd1,1"><a href="#" class="pawn black">&#9823;</a></td>
        <td id="brd1,2"><a href="#" class="pawn black">&#9823;</a></td>
        <td id="brd1,3"><a href="#" class="pawn black">&#9823;</a></td>
        <td id="brd1,4"><a href="#" class="pawn black">&#9823;</a></td>
        <td id="brd1,5"><a href="#" class="pawn black">&#9823;</a></td>
        <td id="brd1,6"><a href="#" class="pawn black">&#9823;</a></td>
        <td id="brd1,7"><a href="#" class="pawn black">&#9823;</a></td>
    </tr>
    <tr>
        <td class="right-border"><p>6</p></td>
        <td id="brd2,0"></td>
        <td id="brd2,1"></td>
        <td id="brd2,2"></td>
        <td id="brd2,3"></td>
        <td id="brd2,4"></td>
        <td id="brd2,5"></td>
        <td id="brd2,6"></td>
        <td id="brd2,7"></td>
    </tr>
    <tr>
        <td class="right-border"><p>5</p></td>
        <td id="brd3,0"></td>
        <td id="brd3,1"></td>
        <td id="brd3,2"></td>
        <td id="brd3,3"></td>
        <td id="brd3,4"></td>
        <td id="brd3,5"></td>
        <td id="brd3,6"></td>
        <td id="brd3,7"></td>
    </tr>
    <tr>
        <td class="right-border"><p>4</p></td>
        <td id="brd4,0"></td>
        <td id="brd4,1"></td>
        <td id="brd4,2"></td>
        <td id="brd4,3"></td>
        <td id="brd4,4"></td>
        <td id="brd4,5"></td>
        <td id="brd4,6"></td>
        <td id="brd4,7"></td>
    </tr>
    <tr>
        <td class="right-border"><p>3</p></td>
        <td id="brd5,0"></td>
        <td id="brd5,1"></td>
        <td id="brd5,2"></td>
        <td id="brd5,3"></td>
        <td id="brd5,4"></td>
        <td id="brd5,5"></td>
        <td id="brd5,6"></td>
        <td id="brd5,7"></td>
    </tr>
    <tr>
        <td class="right-border"><p>2</p></td>
        <td id="brd6,0"><a href="#" class="pawn white">&#9817;</a></td>
        <td id="brd6,1"><a href="#" class="pawn white">&#9817;</a></td>
        <td id="brd6,2"><a href="#" class="pawn white">&#9817;</a></td>
        <td id="brd6,3"><a href="#" class="pawn white">&#9817;</a></td>
        <td id="brd6,4"><a href="#" class="pawn white">&#9817;</a></td>
        <td id="brd6,5"><a href="#" class="pawn white">&#9817;</a></td>
        <td id="brd6,6"><a href="#" class="pawn white">&#9817;</a></td>
        <td id="brd6,7"><a href="#" class="pawn white">&#9817;</a></td>
    </tr>
    <tr>
        <td class="right-border"><p>1</p></td>
        <td id="brd7,0"><a href="#" class="rook white">&#9814;</a></td>
        <td id="brd7,1"><a href="#" class="night white">&#9816;</a></td>
        <td id="brd7,2"><a href="#" class="bishop white">&#9815;</a></td>
        <td id="brd7,3"><a href="#" class="king white">&#9813;</a></td>
        <td id="brd7,4"><a href="#" class="wife white">&#9812;</a></td>
        <td id="brd7,5"><a href="#" class="bishop white">&#9815;</a></td>
        <td id="brd7,6"><a href="#" class="night white">&#9816;</a></td>
        <td id="brd7,7"><a href="#" class="rook white">&#9814;</a></td>
    </tr>
    <tr>
        <td></td>
        <td class="top-border"><p>A</p></td>
        <td class="top-border"><p>B</p></td>
        <td class="top-border"><p>C</p></td>
        <td class="top-border"><p>D</p></td>
        <td class="top-border"><p>E</p></td>
        <td class="top-border"><p>F</p></td>
        <td class="top-border"><p>G</p></td>
        <td class="top-border"><p>H</p></td>
    </tr>
  </table>
</div>
