body {
  background-image: url(../img/background-texture.jpg);
}

p {
  color:#000;
  display:block;
  height:70px;
  position:relative;
  text-decoration:none;
  width:80px;
  margin: 0;
}


.board-bkgd {
  background-image: url(../img/marble-back.jpg);
  width: 54vw;
  height: 54vw;
  position: absolute;
  border-radius: 10px;
  top:2.5%;
  left: 23%;
  font-size:60px;
  padding: 2.5vw;
  display: table;
  border: 2px solid black;
}

.chess_board {
  border:5px solid #333;
  table-layout:fixed;
  text-shadow:0 1px #fff;
  border-radius: 10px;
  border-collapse: separate !important;
}

.chess_board p {
  text-shadow: none;
}

.chess_board td {
  background-image: url(../img/dark-squares.jpg);
  height:80px;
  text-align:center;
  vertical-align:middle;
  width:80px;
}

.chess_board tr:nth-child(odd) td:nth-child(even),
.chess_board tr:nth-child(even) td:nth-child(odd) {
  background-image: url(../img/light-squares.jpg);
}

.right-border {
  border-right: 5px solid #000;
}
.top-border {
  border-top: 5px solid #000;
}

.selected {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    z-index: 2;`
}

.selected:before{
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: rgba(0, 0, 0, 0.5);;
  content: ' ';
}

.possibility {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    z-index: 2;`
}

.possibility:before{
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: rgba(0, 0, 255, .35);
  content: ' ';
}
